body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.display {
    background-color: gray;
    width: 400px;
    height: 50px;
    margin-top: 75px;
    text-align:end;
    font-size: 36px;
    align-items: center;
    justify-content: baseline;
    color:white;
    box-sizing: border-box;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
}

button {
    width: 50px;
    height: 50px;
}


.buttons {
    display: flex;
    gap: 25px;
    margin: 25px;
}

.number-buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.button-row {
    display: flex;
    gap: 25px;
}

.operator-buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.equals {
    width: 275px !important;
}