body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #264653;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.display {
    background-color: #2a9d8f;
    width: 600px;
    height: 100px;
    margin-top: 75px;
    text-align:end;
    font-size: 75px;
    align-items: center;
    justify-content: baseline;
    color:white;
    box-sizing: border-box;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
}

button {
    width: 80px;
    height: 80px;
    color: white;
    font-size: 24px;
}


.buttons {
    display: flex;
    gap: 25px;
    margin: 25px;
}

.number-buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero, #clear, #decimal {
    background-color: #e9c46a;
}

.button-row {
    display: flex;
    gap: 25px;
}

.operator-buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#add, #subtract, #multiply, #divide {
    background-color: #f4a261;
}

#equals {
    width: 275px !important;
    background-color: #e76f51;
}